.date-picker {
  width: 100%;
  display: flex;
  flex-direction: column;

  .label {
    width: 100%;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    user-select: none;
    text-align: right;
  }

  .date-picker-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    margin-top: 6px;
    background-color: #666;
    border-radius: 6px;
    margin-bottom: 20px;
  }
}

@media all and (max-height: 750px) {
  .date-picker {
    .date-picker-container {
      height: 130px;
    }
  }
}
