.button {
  position: relative;
  height: 56px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f24462;
  &:hover {
    opacity: 0.9;
  }
  border-radius: 6px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  user-select: none;
  &.disable {
    cursor: auto;
    background-color: #5d5d5d;
    &:hover {
      opacity: 1;
    }
  }
}
