.client-appointments-container {
  position: absolute;
  max-width: 800px;
  right: 150px;
  border-radius: 20px 0 20px 20px;
  background-color: #222;
  transition: all 0.3s ease-in;
  right: 0;
  height: 100px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  color: white;

  &.show {
    opacity: 1;
    z-index: 1;
    overflow: scroll;
  }
}
