.time-picker-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
  color: white;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .time-picker-messages {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    label {
      font-weight: 600;
      font-size: 20px;
      margin-left: 10px;
    }

    .add-time-range {
      cursor: pointer;
      background: deeppink;
      font-weight: 600;
      border-radius: 3px;
      padding: 2px 3.5px;
    }
  }

  .time-picker-options {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    overflow: auto;

    .time-picker-option-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row-reverse;
      width: 50%;
      min-width: 250px;
      margin-top: 2px;

      .time-picker-option {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .red-asterisk {
        visibility: hidden;
        color: red;
        font-size: 30px;
        margin-left: 5px;

        &.show {
          visibility: visible;
        }
      }
      .hyphen {
        font-size: 18px;
        margin-right: 5px;
        margin-left: 5px;
      }

      .delete-time-range {
        cursor: pointer;
        color: red;
        margin-right: 7px;
      }
    }
  }

  .rdtCounters {
    display: flex;

    .rdtCounter {
      background: #666;
      border-radius: 6px;
      width: 35px;
    }

    :focus {
      outline: none !important;
    }
  }
  .rdtBtn {
    cursor: pointer;
    box-shadow: 0 1px 7px 3px rgb(0 0 0 / 12%);
    font-size: 24px;
    width: 100%;
    display: flex;
    color: #f24462;
    justify-content: center;
    height: 100%;
    font-size: 25px;
  }

  .rdtCounter {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
  }

  .rdtCounterSeparator {
    display: flex;
    align-items: center;
    margin: 5px;
    color: white;
    font-weight: 500;
  }
}
