.background-image-wrapper {
  filter: blur(1px);
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  height: calc(100% - 49px);
  display: flex;
  justify-content: center;
  align-items: center;

  .background-image {
    width: 50%;
    height: 100%;
  }
}

@media all and (max-width: 650px) {
  .background-image-wrapper {
    .background-image {
      width: 100%;
    }
  }
}
