.background-container {
  min-width: 100%;
  min-height: 100%;
  #background {
    filter: blur(1px);
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    &.blur {
      filter: blur(5px);
    }
  }
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    pointer-events: none;
    background-image: linear-gradient(0deg, #000000, #22222200);
    width: 100%;
    height: 500px;
  }
}
