.application-header {
  position: fixed;
  width: 100%;
  background: black;
  z-index: 5;
  display: flex;
  flex-direction: row-reverse;
  height: 50px;
  display: flex;
  opacity: 0.8;
  justify-content: space-between;

  .welcome-message {
    color: white;
    margin-right: 30px;
  }

  .first-side {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    .instagram-icon-wrapper {
      display: flex;
      cursor: pointer;

      &:hover {
        cursor: pointer;
      }
    }

    .header-logo {
      width: 60px;
      height: 100%;
      color: white;
      z-index: 5;
      margin-right: 0.3em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .header-user {
    margin-left: 0.3em;
    height: 100%;
    color: white;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
