.register-container {
  position: absolute;
  background: #000;
  height: 100%;
  max-width: 410px;
  max-height: 410px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  color: white;
  flex-direction: column;

  .input-container {
    display: flex;
    width: 100%;
    flex: none;
    flex-direction: column;
    margin-top: 20px;

    .text-input {
      font-size: 16px;
      direction: rtl;
      color: white;
      font-size: 16px;
      background: #222;
      border: 1px solid #cacaca;
      border-radius: 5px;
      width: 225px;
      outline: none;
      width: 14em;
      height: 3.6em;
      padding-right: 0.5em;
      align-self: flex-end;
      transition: box-shadow ease 0.25s, border-color ease 0.25s;

      &.ltr {
        direction: ltr;
        padding-right: 0;
        padding-left: 0.5em;
      }

      &:disabled {
        background: #888;
      }

      &.error {
        border: 2px solid red;
      }
    }

    .phone-input-container {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;

      .send-message-button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;

        .send-message-button {
          font-size: 13px;
          width: 5.1em;
          height: 4.2em;
        }
      }
    }
  }

  .loader-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .message {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 0.4em;
  }

  .input {
    display: flex;
    justify-content: flex-end;

    .special-label {
      display: none;
    }

    .react-tel-input .country-list .country-name {
      color: #ffffff;
    }
    .react-tel-input .country-list .country .dial-code {
      color: #ffffff;
    }
    .react-tel-input .country-list .country.highlight {
      background-color: #000000;
    }
    .country-list {
      border-radius: 6px;
      background-color: #222222;
      .country {
        &:hover {
          background-color: #000000;
        }
      }
    }
    .react-tel-input {
      height: 100%;

      .form-control {
        background: #222;
        color: white;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .register-button-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 10px;

    .register-button {
      width: 150px;
    }
  }
}
