.scroll-up-container {
  position: absolute;
  width: 100%;
  max-width: 800px;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  background-color: #222;
  transition: all 0.3s ease-in;
  max-height: 0;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  z-index: -1;

  &.show {
    max-height: 80%;
    opacity: 1;
    z-index: 1;
  }
  .form-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
  }
  .form-submit {
    width: 100%;
    max-width: 220px;
    display: flex;
    margin-bottom: 1em;
    justify-content: center;
    align-items: center;
  }
  .form-title {
    display: flex;
    height: 140px;
    justify-content: center;
    align-items: center;

    & h1 {
      width: 100%;
      color: #ffffff;
      font-size: 32px;
      font-weight: 650;
      text-align: center;
      user-select: none;
    }
  }
}

@media all and (max-height: 700px) {
  .scroll-up-container {
    .form-title {
      height: 110px;
    }
  }
}
