.schedule-calender-month {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  font-weight: 500;
  width: 70%;
  min-width: 300px;

  .text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
  }

  .months-part {
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 12px;
  }

  .schedule-calender-month-button {
    cursor: pointer;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &:nth-child(1) {
      justify-content: flex-start;
    }
  }
}

.days-part {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  .day {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .week-day {
    }

    .week-date {
      cursor: pointer;
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33px;
      height: 33px;

      &.available {
        border: 1px solid #fff !important;
        border-radius: 50%;
      }

      &.active {
        background: #f24462;
      }

      &.previous-day {
        color: rgba(209, 206, 206, 0.4);
      }

      &.optional {
        border: 1px solid grey;
        border-radius: 50%;
      }
    }
  }
}
