.application-body {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 2;

  .loader {
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 2;

    .title-container {
      display: flex;
      height: 100%;
      align-items: flex-end;
      justify-content: center;
      padding-bottom: 8px;
      h1 {
        width: 100%;
        color: #ffffff;
        font-size: 26px;
        font-weight: 500;
        text-align: center;
        user-select: none;
      }
    }
    .sub-title-container {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      padding-bottom: 12px;
      h2 {
        max-width: 420px;
        color: #666;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        user-select: none;
      }
    }
    .button-container {
      width: 220px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .side-container {
      width: 100%;
      display: flex;
      margin-top: 50px;
      flex-direction: row-reverse;
      justify-content: flex-start;

      .button-container {
        width: 150px;
        display: flex;
        height: 80px;
        align-items: center;
        justify-content: center;
        padding-bottom: 24px;

        &.hider {
          z-index: -1;
        }
      }

      .my-appointments-button {
        background-color: red;
      }
    }
  }

  .register-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .side-wrapper {
    position: fixed;
    bottom: 50%;
    right: 0;

    &.show {
      z-index: 3;
    }

    .button-container {
      .my-schedule-button {
        padding: 5px;
      }
    }
  }
}
