/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
*::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5em;
  cursor: pointer;
  -webkit-overflow-scrolling: auto;
}

/* background of the scrollbar except button or resizer */
*::-webkit-scrollbar-track {
  background-color: transparent;
  cursor: pointer;
}

/* scrollbar itself */
*::-webkit-scrollbar-thumb {
  background-color: rgba(#fff, 0.4);
  border-radius: 16px;
  border: 0px solid rgba(#fff, 0.4);
  cursor: pointers;
}

/* set button(top and bottom of the scrollbar) */
*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}
