@import "./assets/scrollbar.scss";

* {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "rubik", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html,
body,
#___gatsby,
#gatsby-focus-wrapper {
  height: 100%;
  width: 100%;
}
input,
textarea,
button,
select,
div,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.page {
  width: 100%;
  height: 100%;
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
