.time-view-container {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 10px;
  flex-wrap: wrap;
  gap: 0.5em;
  max-height: 10em;
  overflow: scroll;

  .arrow-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .option {
    width: 5em;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    background-color: #222222;
    border-radius: 6px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    border: 1px solid white;

    &:focus {
      outline: none !important;
    }
    &.active {
      background-color: #f24462;
      border: none;
    }
    &:hover {
      border: solid 1px #f24462;
    }
    &.unavailable {
      border: solid 2px #222222;
      color: #222222;
      cursor: auto;
      background-color: transparent;
    }

    &.disabled {
      &:hover {
        cursor: auto;
        border: 1px solid white;
      }
    }
  }
}

@media all and (max-height: 650px) {
  .time-view-container {
    max-height: 5.5em;
  }
}
